echo "node_modules/" > .gitignore
echo "/client/node_modules/" >> .gitignore
echo "/server/node_modules/" >> .gitignore
echo "/client/dist/" >> .gitignore
echo "/server/dist/" >> .gitignore
echo ".env" >> .gitignore
echo ".DS_Store" >> .gitignore